@model HitaRasDharaDeekshaMissCallDashboard.Models.HomeViewModel
<div class="header">
    <h2>Add New Entry</h2>
    <p> Kindly fill in the details of the new applicant. The status by default will be feeded as Pending. </p>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" id="AddDataForm">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="SubmitBtnOfAddData" value="Add Entry" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#SubmitBtnOfAddData').click(function () {
        $.ajax({
            type: "POST",
            url: "/Home/Index",
            data: $('#AddDataForm').serialize(),
            success: function (result) {
                console.log('data is : ' + result.Code);
                showPopup(result.Code);
            },
            error: function (data) {
                console.log('error : data code is : ' + data.Code);
            }
        });
        return false;
    });
</script>